---
import ExperienceCard from '@components/sections/experience/ExperienceCard.astro'
import Technologies from '@components/sections/experience/Technologies.astro'
import Gradient from '@components/sections/experience/Gradient.astro'
import BloodIcon from '@components/icons/BloodIcon.astro'
import Title from '@components/Title.astro'

import { getEntry } from 'astro:content'

const { data: content } = await getEntry('experience', Astro.params.lang)
---

<section class="flex flex-col gap-12">
  <Title id="experience-section-title" title={content.title} />

  <article class="flex flex-col lg:flex-row gap-7 overflow-hidden">
    <ExperienceCard title={content.cards.titleOne}>
      <Gradient slot="effects" />
      <p
        class="hidden lg:block opacity-70 flex-grow text-end"
        slot="responsive-info"
      >
        {content.experiences.first.date}
      </p>

      <div
        class="flex flex-col items-center text-center md:flex-row md:text-start gap-4 lg:items-center mt-4"
      >
        <BloodIcon />

        <div class="flex flex-col gap-2">
          <h5 class="font-bold text-xl">{content.experiences.first.project}</h5>
          <p class="text-[12px] lg:text-sm md:text-lg text-secondary-200">
            {content.experiences.first.position}
          </p>
          <p class="opacity-50 leading-7 lg:hidden">
            {content.experiences.first.date}
          </p>
          <p class="italic opacity-50">Freelance</p>
        </div>
      </div>

      <div
        class="flex flex-col gap-4 lg:translate-y-5 transition-transform duration-500 group-hover:translate-y-0"
      >
        <p class="text-base">
          {content.experiences.first.description}
        </p>
        <Technologies />
      </div>
    </ExperienceCard>

    <ExperienceCard title={content.cards.titleTwo}>
      <div class="flex flex-col gap-2 text-center mt-4">
        <h5 class="font-bold text-xl">{content.experiences.first.project}</h5>
        <p class="text-sm md:text-lg text-secondary-200">
          {content.experiences.first.position}
        </p>
      </div>

      <ul class="text-sm list-disc p-4 flex flex-col gap-4">
        <li>
          {content.experiences.first.responsibilities.one}
        </li>
        <li>
          {content.experiences.first.responsibilities.two}
        </li>
        <li>
          {content.experiences.first.responsibilities.three}
        </li>
      </ul>
    </ExperienceCard>
    <article></article>
  </article>
</section>
